body{
    background-image: url(Img/Flag_of_Bolivia.png);
    background-size:cover;
    
}
img{
    margin-left: 540px;
    
}
H1{
    text-align: center;
    font-family: cursive;
}

p{   
    font-size: 20;
    font-family: sans-serif;
    background-color:aqua;
    padding: 10px;
   
    border-bottom: 10px solid #CCC;
    border-top: 10px solid #CCC;
    margin-left: 150px;
    margin-right: 150px;
}
h2{
    font-size: 30;
    font-family: cursive;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 10px solid #CCC;
    border-top: 10px solid #CCC;
    border-left: 10px solid #CCC;
    border-right: 10px solid #CCC;
    margin-left: 400px;
    margin-right: 400px;
    background-color:aqua;
    
}